html {
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(c.jpg);
    font-family: sans-serif;
    background-size: cover;
    background-position: cover;
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
    overflow: auto;
    box-sizing: border-box;
}
.full {
    min-height: 100%;
    padding-bottom: 40px;
}
.head {
    text-align: center;
    color: #808080;
    text-shadow: 2px 2px 2px blue;
}
.menu {
    background-color: #20702d;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    opacity: 0.8;
}
.menu ul {
    padding: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    list-style: none;
}
.menu ul li {
    width: 100px;
    margin: 15px;
    padding: 10px;
}
.menu ul li a {
    text-decoration: none;
    color: white;
}
.menu ul li :hover {
    display: block;
    width: 100px;
    height: auto;
    align-items: center;
    background: #074612;
    border-radius: 10%;
}
.menu ul ul {
    display: none;
}
.menu ul li:hover > ul {
    display: block;
    width: 150px;
    color: black;
    align-items: center;
    background-color: #20702d;
    border-radius: 10px;
    text-align: left;
    position: absolute;
}

.footer {
    background-color: #333;
    clear: both;
    height: 25px;
    position: relative;
    margin-top: 25px;
    margin-bottom: 0;
    text-align: right;
    font-size: larger;
    color: white;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    text-align: center;
    opacity: 0.88;
}
.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 30px;
    transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}
.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover {
    background-color: #2ecc71;
}

/* VLOG PAGE */
.container-vlog {
    overflow: hidden;
}
.vlog {
    margin: 20px 40px 20px 40px;
}

.image {
    max-width: fit-content;
    margin: 0 20px;
    padding: 0 10%;
    margin-bottom: 0;
    padding-bottom: 0%;
}

.footer.vlog {
    margin: 0;
    padding: 0;
    background-color: #20702d;
}
.header-vlog {
    text-align: center;
    margin: 125px 20px 0 20px;
    padding: 20px;
    color: #20702d;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

/* About Page */

.middle-section {
    width: 90%;
    min-height: 460px;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}

.left-bar {
    width: 40%;
}

.contact-heading {
    padding: 30px 0;
}

.about-content {
    line-height: 1.7em;
}

.right-bar {
    width: 40%;
}

.about-heading {
    padding: 30px 0;
}

.social-heading {
    padding: 30px 0;
}

.social-links {
    display: flex;
    align-items: flex-start;
}

.individual-link {
    padding-right: 30px;
}

/* media-query */
@media (max-width: 700px) {
    .menu ul {
        flex-wrap: wrap;
    }
    .image {
        width: auto;
    }
}

.btn-primary {
    padding: 12px 16px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}

nav {
    background-color: #2ecc71;
}
